replicaCount: 2 

image:
  repository: nginx
  tag: "1.25.4"

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: nginx
  hosts:
    - host: sample-app.local
      paths:
        - path: /
          pathType: Prefix 